.cabecalho{
    background-color: #3023CB;
    color: white;
    display: flex;
    justify-content: space-around;
}

.imagem-cabeçalho{
    width: 10%;
}

.cabecalho-lista-item {
    display: inline-block;
}